input[type="password"] {
  border-width: 1px;
  border-color: #707070;
  border-style: solid;
}

input[type="password"]:hover:not(:active):not(:focus) {
  border-color: #26A0DA;
}

input[type="password"]:active, input[type="password"]:focus {
  border-color: #2C628B;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type="password"] {
    -webkit-text-stroke-width: .12em;
    letter-spacing: .12em;
    padding-left: 3px;
  }
}