 button {
   width: 100;
   height: 50;
   border-image-source: url(img/button/buttonDefault.png);
   border-image-width: 1px;
   border-image-slice: fill 1 1 1 1;
 }
 
 button:hover {
   border-image-source: url(img/button/buttonHover.png);
 }
 
 button:active {
   border-image-source: url(img/button/buttonClick.png);
 }
 
 :focus:not(.focus-visible) {
   outline: none;
 }
 
 .focus-visible {
   outline: 1;
   outline-color: black;
   outline-style: dotted;
   outline-offset: -3px;
 }